################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/index.html.bak
/.vs/github.io/FileContentIndex/a17b669e-4964-41cb-ae1d-95f468bc7a73.vsidx
*.vsidx
