

iframe {
    width: 86.92% !important;
    height: 40% !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
table {
    width: 80%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
@media (max-width: 768px) {
    th, td {
        padding: 8px;
        font-size: 12px;
    }
}